header {
  background-color: rgb(0, 0, 0);
  padding: 30px;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
body
{
    background-color: rgb(163, 217, 248);
}
*
{
    margin: 0;
    padding: 0;
}
.nav
 {
  width: 99.55%;
  height: 60px; 
  background-color: #fff;
  box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  border-style: outset;
}
ul
{
	list-style-type: none;
}
ul li
{
	float: left;
	width: 140px;
	height: 60px;
	font-size: 20px;
	line-height: 60px;
	text-align: center;
}
ul li a
{
	text-decoration: none;
	color: #000;
	display: block;
}
ul li a:hover
{
	background-color: rgba(149, 176, 250, 0.836);
	transition: 1s all ease;
}
ul li ul li
{
	display: none;
	background-color: #fff;
	box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0; 
	height: 60px;
	transition: 1s all
}
ul li:hover ul li
{
	display: block;
	transition:  1s all;
	animation: drop 1s ease;
}

#cad{
	float:right;
}
@keyframes drop
{
	0%
	{
		transform: scale(2,2) rotate (90deg);
	}
	100%
	{
		transform: scale(1,1) rotate(0deg);
	}
}

h1
{
    text-align: center;
    margin-top: -1px;
    color: rgb(8, 177, 255);
}
h3
{
    text-align: left;
    margin-top: -1px;
}
.text
{
    text-align: left;
    text-indent: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
.text2
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-color: rgb(255, 51, 51);
}
.column
{
    float: left;
    background-color: #fff;
    padding-left: 25px ;
    padding-right: 100px;
    padding-top: 30px;
    padding: 30px;
    margin-left: 15px;
    margin-right: 70px;
    margin-top: 30px;
    margin: 30px;
    border-style: outset;
    border-radius: 20px;
    background-color: rgb(78, 78, 78);
}
.row:after 
{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width:600px) 
{
    .column 
    {
      width: 100%;
    }
}
.section
{
    float: left;
    width: 40.00%;
    background-color: #fff;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin: 20px;
    margin-left: 7%;
    margin-right: 10px;
    margin-top: 10px; 
    border-style: outset;
    border-radius: 20px;
    background-color: rgb(78, 78, 78);
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width:600px) 
{
    .section 
    {
      width: 100%;
    }
} 
.article
{
      float: left;
      width: 40.00%;
      background-color: #fff;
      margin: 20px;
      margin-right: 5.20%;
      margin-top: 10px;
      margin-left: 10px;
      padding: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 48px;
      border-style: outset;
      border-radius: 20px;
      background-color: rgb(78, 78, 78);
}
.row:after {
      content: "";
      display: table;
      clear: both;
    }
@media screen and (max-width:600px) 
{
    .article
    {
        width: 100%;
    }
}
.aside
{
    float: left;
    background-color: #fff;
    padding-left: 25px ;
    padding-right: 50px;
    padding-top: 30px;
    padding: 30px;
    margin-left: 15px;
    margin-right: 70px;
    margin-top: 30px;
    margin: 30px;
    border-style: outset;
    border-radius: 20px;
    background-color: rgb(78, 78, 78);
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
@media screen and (max-width:600px) 
{
  .aside
  {
      width: 100%;
  }
}
.aside2
{
    float: left;
    background-color: #fff;
    padding-left: 30px ;
    padding-right: 50px;
    padding-top: 50px;
    padding: 30px;
    margin-left: 50px;
    margin-right: 90px;
    margin-top: 50px;
    margin: 30px;
    border-style: outset;
    border-radius: 20px;
    background-color: rgb(78, 78, 78);
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
@media screen and (max-width:600px) 
{
  .aside2
  {
      width: 100%;
  }
}